<section id="movies-home">
  <%= link_to "Top 40 Movies", search: 'top_40'%>

  <%= form_with url: movies_path, method: :get, local: true do |form| %>
    <%= form.label :query %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>
  <% end %>

  <% if params[:query] %>
    <h3>Movies Search Results For <%= params[:query] %></h3>
  <% end %>

  <% if params[:search] == "top_40" %>
    <h3>Top 40 Movies</h3>
  <% end %>
</section>

  <% if !@movies.nil? %>
    <table class="table table-hover" id="movie-search">
      <thead class='table-dark'>
        <tr>
          <th scope="col">Movie Id</th>
          <th scope="col">Movie Name</th>
          <th scope="col">Vote Count</th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
        <tr>
            <th id="movie-search-item-<%= movie.id %>" scope="row"><%= movie.id %></th>
            <td><%= link_to "#{movie.name}", details_path(id: movie.id) %></td>
            <td><%= movie.vote_count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
