<section id="movies-home">
  <div class='container'>
    <%= link_to "Top 40 Movies", search: 'top_40'%><br/>
  </div>

  <div class='container text-center' style='mr-auto;'>
    <%= form_with url: movies_path, method: :get, local: true do |form| %>
      <%= form.text_field :query, placeholder: 'Movie Search by Title' %>
      <%= form.submit "Search" %>
    <% end %>
  </div>

<br/>

  <% if params[:query] %>
    <h3 style='color:red'>Movies Search Results For <%= params[:query] %></h3>
  <% end %>

  <% if params[:search] == "top_40" %>
    <div class='container' style='color:red'>
      <h3 style='color:red'>Top 40 Movies</h3>
    </div>
  <% end %>
</section>

<br/>

<% if !@movies.nil? %>
<div class='row'>
  <% @movies.each_with_index do |movie, rank| %>
    <div class='col mb-6 mt-6'>
      <div class='container'>
        <div class="card justify-content-between" style="width: 15rem; background-color:black;">
          <%= image_tag 'coming-soon-gf91e0e497_640.jpg', class: "card-img-top" %>
          <div class="card-body" style='color:white'>
            <h5 class="card-title"><%= link_to "#{movie.name}", details_path(id: movie.id) %></h5>
            <p class="card-text"><%= "Vote Count: #{movie.vote_count}\r\nRank: #{rank}" %></p>
            <a href="<%= details_path(id: movie.id) %>" class="btn btn-primary" style='background-color:red;'><%= "Movie Details" %></a>
          </div>
        </div>
      </div>
    </div>
    <br/>
  <% end %>
</div>
<% end %>

<br/>

<br/>
