<div class='container' id='username'>
  <h1><%= "Welcome #{@user.username}" %></h1>
</div>

<div class='container' id='discover-movies'>
  <h1><%= link_to 'Discover New Movies', movies_path %></h1>
</div>

<div class='container' id='friends'>

  <%= render "new_friend_form" %>

  <h5>Friends</h5>
  <% @user.get_friends.each do |friend| %>
    <%= friend.username %>
  <% end %>
</div>


  <section class="container" id="viewing-parties">
    <div class="container" id="hosted-events">
      <h5>Hosting</h5>
      <% @user.events.each do |event| %>
        <ul>
          <%= event.title %>
          <li> Start Time: <%= event.starttime %>
          <li> Duration: <%= event.duration %>
        </ul>
      <% end %>
    </div>
    <div class="container" id="invited_events">
      <h5>Invited</h5>
      <% @user.invited_events.each do |event| %>
        <ul>
          <%= event.title %>
          <li> Start Time: <%= event.starttime %>
          <li> Duration: <%= event.duration %>
        </ul>
      <% end %>
    </div>
  </section>
