<h1>Welcome Friend</h1>

<div class='container' id="sign-in">
    <%= form_with url: sign_in_path, local: true do |f| %>
        <%= f.label :email %><br/>
        <%= f.text_field :email %><br/>
        <%= f.label :password %><br/>
        <%= f.password_field :password %><br/><br/>
        <%= f.submit "Log In" %>
    <% end %>
</div>

<div class='container'>
  <%= link_to "Sign Up", sign_up_path %>
</div>
