
<h3><%= "#{@movie.name}" %></h3>

<div class='container' id='create-party'>
  <%= button_to 'Create A Viewing Party', new_event_path(id: @movie.id), method: :get, params: { movie_id: @movie.id }, local: true %>
</div>

<div id="run-time">
  <h5>Run Time: </h5>
  <%= "#{@movie.run_time}" %>
</div>

<div id="genres">
  <h5>Generes: </h5>
  <% @movie.genres.each do |genere| %>
    <%= "#{genere[:name]}" %><br/>
  <% end %>
</div>

<div id="summary">
  <h5>Summary: </h5>
  <%= "#{@movie.summary}" %>
</div>

<h5>Cast: </h5>
<div class="container" id="cast">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% @movie.cast.each do |member| %>
      <div class="col"><%= member.name %> As <%= member.role %></div>
    <% end %>
  </div>
</div>



<% if @movie.reviews != "No Reviews Recorded" %>
<h5>Reviews: </h5>
  <% @movie.reviews.each do |review| %>
    <div class="card">
      <div class="card-header">
        <%= review.author %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= review.content %></p>
      </div>
    </div>
  <% end %>
<% end %>

<% if @movie.reviews == "No Reviews Recorded" %>
  <h3><%= @movie.reviews %></h3>
<% end %>
