<h1>Details#show</h1>
<%= "#{@movie.name}" %>

<div class='container' id='create-party'>
  <%= button_to 'Create A Viewing Party', new_event_path(id: @movie.id), method: :get, params: { movie_id: @movie.id }, local: true %>
</div>

<div id="run-time">
  <h5>Run Time: </h5>
  <%= "#{@movie.run_time}" %>
</div>

<div id="genres">
  <h5>Generes: </h5>
  <% @movie.genres.each do |genere| %>
    <%= "#{genere[:name]}" %><br/>
  <% end %>
</div>

<div id="summary">
  <h5>Summary: </h5>
  <%= "#{@movie.summary}" %>
</div>

<div id="cast">
  <h5>Cast: </h5>
  <% @movie.cast.each do |member| %>
    <p><%= member.name %> As <%= member.role %></p>
  <% end %>
</div>

<div id="reviews">
  <% if @movie.reviews != 'No Reviews Recorded' %>
    <h5>Reviews: </h5>
    <% @movie.reviews.each do |review| %>
    <%= review.author %><br/>
    <%= review.content %><br/>
    <% end %>
  <% end %>
</div>
